body {
	background: black;
	color: white;
	font-size: 16pt;
}

.todo-wrapper {
	margin: 1vh 0 1vh 0;
	font-size: 1em;
	width:90%;
	border: solid white;
	display: flex;
	align-items: center;
	justify-content: space-between;

}

.todo-checkbox {
	margin-left: 1vw;

}

.todo-item {
	margin: 10px 0 10px 0;	
}

.task-delete-button {
	background:url(../resources/dumpter.png);
	background-size: cover;
	min-width:30px;
	min-height:30px;
	width:3vh;
	height:3vh;
	cursor:pointer;
	border:none;
	margin-right: 1vw;
}
