body {
	background: black;
	color: white;
	font-size: 16pt;
}

.todo-wrapper {
	margin: 1vh 0 1vh 0;
	font-size: 1em;
	width:90%;
	min-height:30px;

}

.todo-checkbox {

}

.todo-item {
	display: inline;
	height:100%;
}

.task-delete-button {
	background:url(../resources/dumpter.png);
	background-size: cover;
	min-width:30px;
	min-height:30px;
	width:3vh;
	height:3vh;
	cursor:pointer;
	border:none;
	float: right;
}
